
@import "./frameworks/bourbon/bourbon";
@import "./frameworks/base/base";
@import "./frameworks/neat/neat";

body {
    margin: 0;
    padding: 0;
}

$desktop: (
    columns: 12,
    gutter: 10px,
    media: "(min-width: 1024px)",
);

$tablet: (
    columns: 12,
    gutter: 10px,
    media: "(min-width: 768px) and (max-width: 1023px)",
);

$mobile: (
    columns: 12,
    gutter: 10px,
    media: "(min-width: 0px) and (max-width: 767px)",
);

#app {
    @include grid-container;
}

#profile {
    background: black;
    height: 500px;
}

#profile-photo {
    @include grid-media($desktop) {
        @include grid-column(6);
    }

    @include grid-media($tablet) {
        @include grid-column(6);
    }

    @include grid-media($mobile) {
        @include grid-column(12);
    }

    height: 100%;
    background: red;

    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-details {
    @include grid-media($desktop) {
        @include grid-column(6);
    }

    @include grid-media($tablet) {
        @include grid-column(6);
    }

    @include grid-media($mobile) {
        @include grid-column(12);
    }

    height: 100%;
    background: pink;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profile-photo-image {
    background: yellow;
    height: 300px;
    width: 300px;
}

.info {
    @include grid-media($desktop) {
        @include grid-column(4);
    }

    @include grid-media($tablet) {
        @include grid-column(6);
    }

    @include grid-media($mobile) {
        @include grid-column(12);
    }
    background: blue;
    height: 300px;
    margin-bottom: 10px
}