
@import "./frameworks/bourbon/bourbon";
@import "./frameworks/base/base";
@import "./frameworks/neat/neat";

body {
    margin: 0;
    padding: 0;
}

$desktop: (
    columns: 12,
    gutter: 10px,
    media: "(min-width: 1024px)",
);

$tablet: (
    columns: 12,
    gutter: 10px,
    media: "(min-width: 768px) and (max-width: 1023px)",
);

$mobile: (
    columns: 12,
    gutter: 10px,
    media: "(min-width: 0px) and (max-width: 767px)",
);

#app {
    @include grid-container;
}

#profile {
    height: 350px;
}

#profile-photo {
    @include grid-media($desktop) {
        @include grid-column(6);
    }

    @include grid-media($tablet) {
        @include grid-column(6);
    }

    @include grid-media($mobile) {
        @include grid-column(12);
    }

    height: 100%;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid grey;
}

#profile-details {
    @include grid-media($desktop) {
        @include grid-column(6);
    }

    @include grid-media($tablet) {
        @include grid-column(6);
    }

    @include grid-media($mobile) {
        @include grid-column(12);
    }

    height: 100%;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profile-photo-image {
    background: yellow;
    height: 300px;
    width: 300px;
}

#section1 {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.section-title {
    text-align: center;
    font-size: 40px;
    margin-top:10px;
    margin-bottom:10px;
}

.language-info {
    @include grid-media($desktop) {
        @include grid-column(4);
    }

    @include grid-media($tablet) {
        @include grid-column(6);
    }

    @include grid-media($mobile) {
        @include grid-column(12);
    }

    border: 1px dashed grey;
    height: 300px;
    margin-bottom: 10px
}

.language-info-title {
    height: 60px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-info-count {
    height: 50px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-info-additional {
    font-size: 16px;
    color: black;

    height: 50px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.language-info-most-popular {
}

.language-info-most-popular-heading {
    font-size: 14px;
    color: grey;

    display: flex;
}

.language-info-most-popular-name {
    font-size: 20px;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.language-info-most-popular-description {
    font-size: 14px;
    color: grey;

    display: flex;
    justify-content: center;
    align-items: center;
}

.language-info-created {
    font-size: 14px;
    color: grey;

    display: flex;
    justify-content: center;
    align-items: center;
}

.language-info-modified {
    font-size: 14px;
    color: grey;

    display: flex;
    justify-content: center;
    align-items: center;
}
