
@import "./frameworks/bourbon/bourbon";
@import "./frameworks/base/base";
@import "./frameworks/neat/neat";

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

$desktop: (
    columns: 12,
    gutter: 10px,
    media: "(min-width: 1024px)",
);

$tablet: (
    columns: 12,
    gutter: 10px,
    media: "(min-width: 768px) and (max-width: 1023px)",
);

$mobile: (
    columns: 12,
    gutter: 10px,
    media: "(min-width: 0px) and (max-width: 767px)",
);

#app {
    @include grid-container;
}

#profile {
    height: 350px;
}

#profile-photo {
    @include grid-media($desktop) {
        @include grid-column(6);
    }

    @include grid-media($tablet) {
        @include grid-column(6);
    }

    @include grid-media($mobile) {
        @include grid-column(12);
    }

    height: 100%;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-details {
    @include grid-media($desktop) {
        @include grid-column(6);
    }

    @include grid-media($tablet) {
        @include grid-column(6);
    }

    @include grid-media($mobile) {
        @include grid-column(12);
    }

    height: 100%;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profile-photo-image {
    background: white;
    height: 300px;
    width: 300px;
}

#section1 {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.section-title {
    text-align: center;
    font-size: 40px;
    margin-top:10px;
    margin-bottom:10px;
}

.language-info {
    @include grid-media($desktop) {
        @include grid-column(4);
    }

    @include grid-media($tablet) {
        @include grid-column(6);
    }

    @include grid-media($mobile) {
        @include grid-column(12);
    }

    border: 1px solid grey;
    height: 400px;
    margin-bottom: 10px
}

.language-info-title {
    height: 60px;
    display: flex;
    border-bottom: 1px solid gray;
}

.language-info-title-middle {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.language-info-title-icon {
    padding-left: 15px;
    margin-top: -3px;
    font-size: 50px;
    vertical-align: middle;
}

.language-info-title-text {
    font-size:25px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
}

.language-info-count {
    padding-right: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: top;
    color: grey;
}

.language-info-most-popular-header {
    flex-direction: column;
    margin-top: 10px;
    color: grey;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.language-info-most-popular-header-name {
    max-width: 68%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 25px;
}

.language-info-most-popular-header-date {
    font-size: 12px;
    padding-right: 25px;
}

.language-info-most-popular-meta {
    display: flex;
    justify-content: center;
    color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed gray;
    margin-left: 25px;
    margin-right: 25px;
}

.language-info-most-popular-meta i {
    margin-top: 2px;
    padding-right: 5px;
}

.language-info-most-popular-description {
    font-size: 14px;
    color: grey;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.language-info-additional {
    font-size: 20px;
    color: gray;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px dashed gray;
    margin-left: 25px;
    margin-right: 25px;
}

.language-info-additional .left-icon i {
    font-size: 20px;
    padding-right: 10px;
}

.language-info-created {
    font-size: 14px;
    color: grey;

    display: flex;
    justify-content: center;
    align-items: center;
}

.language-info-modified {
    font-size: 14px;
    color: grey;

    display: flex;
    justify-content: center;
    align-items: center;
}

.data-item-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 55px;
}

.left-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-python {
    color: #3572A5;
}

.icon-haskell {
    color: #666666;
}

.icon-clojure {
    color: #63B132;
}

.icon-rust {
    color: #000000;
}

.icon-scala {
    color: #DE322F;
}

.devicon-swift-plain {
    color: #FF4F2D;
}

.icon-javascript {
    // handled in icon class
}

.devicon-typescript-plain {
    color: #2B7489;
}

.icon-ruby {
    color: #AC1301;
}

.icon-perl {
    color: #0294C3;
}

.icon-c {
    color: #596FC5;
}

.icon-css {
    color: #1572B6;
}

.icon-objc {
    color: #37ABFF;
}

// Enter Username

#enter-username-bar {
    height: 80px;
    background: #2D2F39;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enter-username-bar-form {
    margin-top: 10px;
    width: 75%;
}

// Profile Details

#profile-details {
    display: flex;
    flex-direction: column;
}

.profile-detail-item-with-icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.profile-detail-item-with-icon i {
    margin-right: 15px;
    font-size: 40px;
}

.profile-details-item {
    font-weight: bold;
    font-size: 20px;
}

#langs {
    i {
        margin-right: 4px;
        margin-left: 4px;
    }
    font-size: 40px;
    background: aliceblue;
    border-bottom: 1px solid lightgray;
}